<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dreamcastDirectory" value="D:\Dreamcast\data\Games\" />
    <add key="dreamcastConfigDirectory" value="D:\Dreamcast\nullDC.cfg" />
    <add key="snesDirectory" value="D:\SNES\Roms\" />
    <add key="snesConfigDirectory" value="D:\SNES\emulators\snes9\snes9x-1.53-x64\snes9x.conf" />
    <add key="n64Directory" value="D:\N64\Roms\" />
    <add key="n64ConfigDirectory" value="D:\N64\Emulator\Project64.1.7.0.50.Ver.23\Project64.1.7.0.50.Ver.23\Config\Project64.cfg"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.XInput" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>